.header {
                color: black;
                background-color: white;
                border-style: solid;
                border-color: black;
                border-width: 3px;
                text-align: center;
                margin-top: 77px;
                margin-left: auto;
                margin-right: auto;
                width: 1455px;
            }
            .header-title {
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-size: 123px;
                text-align: center;
                margin-top: 40px;
                margin-left: 12px;
            }
            .header-navbar {
                font-size: medium;
                font-family: Georgia, 'Times New Roman', Times, serif;
                text-align: center;
                margin-left: 5px;
            }
            .header-navbar li {
                display: inline-block;
                font-size: 28px;
                list-style: none;
                text-align: center;
                margin-top: 5px;
                margin-left: 5px;
                margin-right: 45px;
                margin-bottom: 35px;
            }
            .header-navbar li a {
                color: grey;
                text-decoration: none;
            }
            .header-navbar li a:hover {
                color: black;
            }
            .main-image-grid {
                width: 1680px;
                height: 1680px;
                margin-left: auto;
                margin-right: auto;
                margin-top: 113px;
                margin-bottom: 153px;
            }
            .main-image-grid div {
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-size: 60px;
                margin-left: 10px;
                margin-bottom: 10px;
            }
            .main-image-grid img {
                display: inline-block;
                border: 1px solid white;
                object-fit: cover;
                width: 825px;
                height: 825px;
                margin: 5px;
            }
            .footer-copyright{
                text-align: center;
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-size: 21px;
            }
            .footer-image-grid {
                text-align: center;
                margin-top: 57px;
                margin-bottom: 80px;
                margin-right: 40px;
            }
            .footer-image-grid img {
                height: 42px;
                widows: 42px;
                margin-left: 36px;
            }