.header {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}
.header-grid {
    color: black;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    text-align: center;
    margin-top: 51px;
    margin-left: auto;
    margin-right: auto;
    width: 965px;
}
.header-grid-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 81px;
    text-align: center;
    margin-top: 27px;
    margin-left: 8px;
    margin-bottom: -2px;
}
.header-grid-navbar {
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-right: 13px;
}
.header-grid-navbar li {
    display: inline-block;
    font-size: 19px;
    list-style: none;
    text-align: center;
    margin-left: 2px;
    margin-right: 28px;
    margin-bottom: 17px;
}
.header-grid-navbar li a {
    color: grey;
    text-decoration: none;
}
.header-grid-navbar li a:hover {
    color: black;
}
.main-image-grid {
    width: 1110px;
    height: 1110px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 73px;
    margin-bottom: 102px;
}
.main-image-grid div {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 41px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.main-image-grid img {
    display: inline-block;
    border: 1px solid white;
    object-fit: cover;
    width: 545px;
    height: 545px;
    margin: 2px;
}
.footer {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}
.footer-copyright{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
}
.footer-image-grid {
    text-align: center;
    margin-top: 39px;
    margin-bottom: 50px;
    margin-right: 28px;
}
.footer-image-grid img {
    height: 28px;
    widows: 28px;
    margin-left: 23px;
}