/****************HEADER STYLE********************/

.header {
    float: left;
    border-width: 1px solid white;
    background-color: white;
    width: 10%;
    height: 1500px;
    padding: 20px 20px 20px 200px;
    /*top, right, bottom, and left in orders*/
}

.header button {
    display: block;
    background-color: #F4F3F4;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: gray;
    outline: none;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    transition: 0.4s;
}

.header button:active {
    background-color: #565556;
    color: white;
}

.header button:focus {
    background-color: #565556;
    color: white;
}

.header button:hover {
    background-color: #47AE4F;
    color: white;
}


/* header hover effect, which should be placed after button:focus */


/* #google_news {
    width: 80%;
}

#google_news table {
    border: 1px solid red;
    margin: auto;
    width: 70%;
}

#google_news table td {
    float: left;
    width: 25%;
    padding: 0px;
    border: 1px solid green;
}

#google_news .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
    height: 450px;
    background-color: #F4F3F4;
    color: black;
    padding: 0px;
} */

#google_news .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#google_news .card a:link,
#google_news .card a:visited,
#google_news .card a:hover,
#google_news .card a:active {
    color: black;
    text-decoration: none;
}

#google_news .card_container {
    padding: 2px 16px;
}

#google_news .card_container h3,
#google_news .card_container p {
    text-align: center;
}

#search .card_container h3,
#search .card_container p {
    float: left;
    text-align: left;
}

#search {
    background-color: #F4F3F4;
    border-radius: 4px;
    color: black;
    float: left;
    text-align: center;
    width: 43%;
    margin-top: 30px;
    padding: 30px 0px;
}

#search .search-required:after {
    content: " *";
    color: red;
}


/* red stars after labels which should be necessarily filled in */

#search label,
#search input {
    margin: 10px;
    border: none;
}

#search select {
    margin: 10px;
    background-color: white;
    border-radius: 3px;
}

#search button {
    background-color: #F0EFF1;
    margin: 10px;
    border: none;
    transition: 0.4s;
}

#search button:hover {
    background-color: #47AE4F;
    color: white;
}